#body-container {
    display: flex;
}

.title-center {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    margin-top: 50px;
    vertical-align: middle;
    text-align: center;
}

.title-center img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.title-center h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.title-center p {
    font-size: 18px;
}