#body-container {
    display: flex;
}

.title-center {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    margin-top: 50px;
    vertical-align: middle;
    text-align: center;
}

.title-center #main-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.title-center h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.title-center p {
    font-size: 18px;
}

.social-media {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    margin: 0 auto;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin: 5px 10px 5px 0;
}

.social-media a {
    color: black;
}