#body-container {
    height: 1950px;
    width: 90%;
    text-align: unset;
    font-size: 12px;
    box-sizing: border-box;
}

#body-container h2 {
    text-align: center;
    margin: 0px 0 20px 0;
    font-size: 20px;
}

#body-container h3 {
    margin: 5px 0 5px 0;
}

#body-container p {
    margin-bottom: 5px;
}

#body-container code {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





